/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  height: 100vh;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #ffffff;
  border-radius: 6px;
  width: 230px;
  height: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: #a35200;
  font-size: 20px;
  font-weight: 500;
}
.paragraph {
  color: #334155;
  font-size: 13px;
  font-weight: 500;
}
.image {
  width: 90px;
}
.button {
  background-color: #e2a139;
  color: #a35200;
  border-radius: 8px;
  border-width: 0px;
  padding: 5px;
}
.coin-toss {
  display: flex;
  padding: 10px;
}
.total {
  color: #334155;
  font-size: 10px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .total {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .coin-toss {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .coin-toss {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .container {
    height: 350px;
  }
}
